input {
	margin: 4px 1px 4px 1px;
	width: 100%;
	text-align: center;

}
input[type=submit] {
	height: 75px;

}
input[type=text], input[type=password], input[type=number] {
	height: 75px;
	font-size:30px;
}

textarea {
	margin: 4px 1px 4px 1px;
	width: 100%;
	height: 125px;
	font-size:30px;
	vertical-align: text-top;
	text-align: center;
}
.col-xs-6.cuentas, .col-xs-12 {
	padding: 1px;
}

span.label {
	margin: 4px 1px 4px 1px;
	width: 100%;
	text-align: center;
	height: 75px;
	font-size:30px;
	padding: 10px;
}

 input.ng-invalid {
     border: 3px solid #FFC2C2;
  }

  input.ng-valid {
    border: 3px solid #5cb85c;
  }
  div.cargando {
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    1000;
  top:        0; 
  left:       0; 
  position:   fixed; 
}
