<%= f.errores %>

<div class="row">     

    <div class="small-4 columns">    
      <%= f.text_field :codigo, :tabindex => 1 %>
    </div>

    <div class="small-4 columns">
      <%= f.text_field :nombre, :tabindex => 2 %>
    </div>

    <div class="small-4 columns">
      <%= f.text_field :desc, :tabindex => 3 %>
    </div>
  </div> 