
<% f.errores %>
<div class="row">      
  <div class="small-3 columns">
    <%= f.text_field :codigo %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :nombre %>
  </div>
      
</div>
