<dl class="tabs" data-tab>
  <dd class="active"><a href="#tab-1">Servicios</a></dd>
  <dd><a href="#tab-3">Misión y visión</a></dd>
  <dd><a href="#tab-2">Tecnologías utilizadas</a></dd>
  <dd><a href="#tab-4">Quienes somos</a></dd>
  <dd><a href="#tab-5">Contacto</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="tab-1">
    <p>First panel content goes here...</p>
  </div>
  <div class="content" id="tab-2">
    <p>Second panel content goes here...</p>
  </div>
  <div class="content" id="tab-3">
    <p>Third panel content goes here...</p>
  </div>
  <div class="content" id="tab-4">
    <p>Fourth panel content goes here...</p>
  </div>
  <div class="content" id="tab-5">
    <p>Datos del contacto</p>
  </div>
</div>



<!-- <dl class="tabs vertical" data-tab>
  <dd class="active"><a href="#panel1a">Tab 1</a></dd>
  <dd><a href="#taba">Tab 2</a></dd>
  <dd><a href="#panel3a">Tab 3</a></dd>
  <dd><a href="#panel4a">Tab 4</a></dd>
</dl>
<div class="tabs-content vertical">
  <div class="content active" id="panel1a">
    <p>Panel 1 content goes here.</p>
  </div>
  <div class="content" id="taba">
    <p>Panel 2 content goes here.</p>
  </div>
  <div class="content" id="panel3a">
    <p>Panel 3 content goes here.</p>
  </div>
  <div class="content" id="panel4a">
    <p>Panel 4 content goes here.</p>
  </div>
</div> -->