				<% if action_name == 'index'%>
<li class="has-dropdown">

	<a href="#">Acciones</a>
	<ul class="dropdown simple">
		<li>
			<ul>				
					<li><a id="nuevo">Nuevo</a></li>
					<li><a id="editar">Editar</a></li>
					<li><a id="borrar" href="#">Borrar</a></li>
					<li><a id="copiar">Copiar</a></li>	
					<li><a id="pegar">Pegar</a></li>
			</ul>
		</li>
	</ul>
</li>
				<% else %>

<li>				<a href='<%= root_path %><%= controller_path %>'>Atras</a>
				</li>				<% end %>