	<li class="has-dropdown">
		<a href="#">Acciones</a>
		<ul class="dropdown simple">
			<li>
				<ul>				
					<li><a id="nuevo">Nuevo</a></li>
					<li><a id="borrar">Borrar</a></li>
				</ul>
			</li>
		</ul>
	</li>