<li class="has-dropdown">
	<a href="#" tabindex="-1">Sesion</a>
	<ul class="dropdown">
		<li>
			<ul>
				<li><label>Empresas</label></li>
				<li><a>lista de empresas</a></li>
			</ul>

			<ul>
				<li><label>Establecimientos</label></li>
				<li><a>Lista de est.</a></li>
			</ul>
			<ul>
				<li><label>Mi cuenta</label></li>
				<li><a>Configuración</a></li>
				<li><a href=<%= salir_url %>>Salir</a></li>				
			</ul>
		</li>
	</ul>
</li>