<li class="has-dropdown">
	<a id="menu_sesion" href="#" tabindex="-1">Sesion</a>
	<ul class="dropdown">
		<li>
			<ul>
				<li><label>Empresas</label></li>
					<% @empresas_disponibles.each do |emp| %>
				<li><%= link_to emp.nombre, actualizaSesion_url("empresa",emp.id), remote:true %></li>
				<% end %>
			</ul>

			<ul>
				<li><label>Establecimientos</label></li>
				<% @establecimientos_disponibles.each do |est| %>
				<li><%= link_to est.nombre, actualizaSesion_url("establecimiento",est.id), remote:true %></li>
				<% end %>

				
			</ul>
			<ul>
				<li><label>Mi cuenta</label></li>
				<li><%= link_to "Configuración", edit_rba_usuario_path(@usuario_actual.id)%></a></li>
				<li><a href=<%= salir_url %>>Salir</a></li>				
			</ul>
		</li>
	</ul>
</li>