<li class="has-dropdown">
	<a>General</a>
	<ul class="dropdown">
		<li>
			<ul>
				<li class="menu_label"><label>CARGAR</label></li>					
				<li><a>Operaciones</a></li>
				<li><a>Asientos</a></li>
				<li><a>Cierre de tarjetas</a></li>
			</ul>
			<ul>
				<li class="menu_label"><label>ANALIZAR</label></li>			
				<li><a>Operaciones</a></li>
				<li><a>EE.RR.</a></li>
				<li><a>Flujo de fondos</a></li>
			</ul>
			<ul>
				<li class="menu_label"><label>CONFIGURAR</label></li>
				<li><a>Tipo de operaciones</a></li>
				<li><a>Plan de cuentas</a></li>
			</ul>
		</li>
	</ul>
</li>