<li class="has-dropdown">
	<a>GANADERÍA</a>

	<ul class="dropdown">
		<li>
			<ul>
				<li class="menu_label"><label>CARGAR</label></li>					
				<li><a>Movimientos</a></li> 		
			</ul>
			<ul>
				<li class="menu_label"><label>ANALIZAR</label></li>		
				<li><a>MOVIMIENTOS</a></li>			
				<li><a>EXISTENCIAS</a></li>			
			</ul>
			<ul>
				<li class="menu_label"><label>CONFIGURAR</label></li>
				<li><a>CATEGORÍAS</a></li>			
				<li><a>RODEOS</a></li>			
				<li><a>ESTADOS</a></li>			
				<li><a>ACCIONES</a></li>
				<li><a>TIPOS DE CATEGORÍAS</a></li>			
			</ul>
		</li>
	</ul>
</li>