<input id="esForm" type="hidden" value=true />
<div class="row">
  <div class="panel">
  <%%= form_for @<%= singular_table_name %>, builder: EstandarFormBuilder do |f| %>
   
    <%% f.errores %>
<div class="row">
      
<% attributes.each do |attribute| -%>

      <div class="small-3 columns">
        <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
      </div>

<% end -%>
      
</div>
    <div class="row">
      <div class="small-12 columns">
        <input id="nodo" name="nodo" type="hidden" value=<%%= @nodo %> /> 
        <%%= f.submit %>
      </div>
    </div>
  <%% end %>
  </div>
</div>
