<h1>Prueba  <%= singular_table_name %></h1>

<%%= render 'form' %>

<%%= link_to 'Ir', @<%= singular_table_name %>, :class => "button tiny" %>
<%%= link_to 'Volver', <%= index_helper %>_path, :class => "button tiny" %>
