
<% f.errores %>
<div class="row">      
  <div class="small-3 columns">
    <%= f.date_select :fecha %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :cotizacion %>
  </div>
  <div class="small-3 columns">
    <%= f.collection_select :moneda_id, Rco::Moneda.all, :id, :nombre, {}, {:label => "Moneda"} %>
  </div>
      
</div>
