<input id="esForm" type="hidden" value=true />
<div class="row">
  <div class="panel">
  <%= form_for @rga_rodeo, builder: EstandarFormBuilder do |f| %>
   
<!-- Cortar desde aca y pegar en el partial _form_fields.html.erb -->


<%= render 'form_fields', f:f  %>
<!-- Cortar hasta aca y pegar en el partial _form_fields.html.erb -->

    <div class="row">
      <div class="small-12 columns">
        <input id="nodo" name="nodo" type="hidden" value=<%= @nodo %> /> 
        <%= f.submit %>
      </div>
    </div>
  <% end %>
  </div>
</div>
