  <% f.errores %>
<div class="row">
      

      <div class="small-3 columns">
        <%= f.text_field :nombre %>
      </div>


      <div class="small-3 columns">
        <%= f.text_field :autor %>
      </div>


      <div class="small-3 columns">
        <%= f.text_field :categoria %>
      </div>


      <div class="small-3 columns">
        <%= f.text_field :editorial %>
      </div>

      
</div>