<div class="sticky">
	<nav class="top-bar" data-topbar data-options="is_hover: false">
		<ul class="title-area">
			<li class="name">
			<h1><a href="#">Root's</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#">Menú</a></li>
		</ul>

		<section class="top-bar-section">
			<!-- Left Nav Section --> 
			<ul class="left">
			<!-- Menú Acciones -->
				
				<%= render "layouts/globals/menu/acciones" %>
				<%= render "layouts/globals/menu/general" %>
				<%= render "layouts/globals/menu/rga" %>


		
				<li class="has-form">
				<div class="row collapse">
					<div class="large-8 small-9 columns">
						<input type="text" placeholder="¿Que quiere hacer?" style="top:2px" class="topbar_input">
					</div>
					<div class="large-4 small-3 columns">
						<a href="#" class="topbar_button button expand">BUSCAR</a>
					</div>
				</div>
				</li>
			</ul>

			<ul class="right">
				
				<!-- Menú Usuario -->
				<%= render "layouts/globals/menu/cuenta" %>

				
			</section>
	</nav>
</div>
